.main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    transition: all 0.3s;
}
.projectItem {
    display: flex;
    gap: 20px;
    transition: all 0.3s;
    border-radius: 10px;
}


.projectItem img {
    border-radius: 10px;
    min-width: 240px;
    width: 240px;
    height: 150px;
    transition: all 0.2s;
    object-fit: cover;
    animation: unBlur linear 0.5s;
    background-color: black;
}

.projectItem:hover img {
    opacity: 0.7;
}
@keyframes unBlur {
    from {
        filter: blur(20px);
        transform: scale(1.1);
        opacity: 0;
    }

    to {
        filter: blur(0px);
        transform: scale(1);
    }
}


.techStack{
    font-size: 14px;
    
}
.footerDiv{
    /* overflow: hidden; */
    transform: scale(0);
    transform-origin: right;
    transition: all 0.3s;
    height: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    /* background-color: red; */
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
}
.showFooter{
    height: 40px;
    transform: scale(1);
}
.footerDiv button{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
