.main {
    min-height: 100vh;
    height: 200vh;
    position: relative;
}

.detailsHolder {
    max-width: 600px;
    margin: 0px auto;
    padding-top: 30px;
}

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.heroSection h1 {
    font-family: "Poppins";
    font-size: 28px;
    line-height: 1em;
}

.heroSection .SWEpara {
    color: #a545cd;
    font-weight: 500;
    font-size: 20px;
}

.profileImageContainer {
    position: relative;
    height: 200px;
    width: 200px;
}

.profileImageContainer:hover .profilePicBlurImage {
    transform: scale(1) translateY(10px);
    filter: blur(30px);
    opacity: 0.5;
}

.profilePicBlurImage {
    position: absolute;
    z-index: 1;
    transition: all 0.3s;

}

.profilePic {
    position: absolute;
    z-index: 3;
}

.profilePic,
.profilePicBlurImage {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.socialsDiv {
    display: flex;
    gap: 5px;
    align-items: center;
}

.socialsDiv .socialsItem {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: rgb(12, 12, 12);
    border-radius: 7px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.socialsDiv .socialsItem img {
    height: 15px;
    width: 15px;
    object-fit: contain;
}

.socialsDiv .socialsItem p {
    font-size: 0px;
    color: white;
    line-height: 1.2em;
    overflow: hidden;
    transition: all 0.25s;
}

.socialsDiv .socialsItem:hover {
    gap: 8px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 8px 14px;
}

.socialsDiv .socialsItem:hover p {
    font-size: 12px;
}


.projectsSection{
    display: flex;
    flex-direction: column;
}
.projectsHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.projectItem{
    display: flex;
    gap: 20px;
}
.projectItem img{
    border-radius: 10px;
    width: 300px;
    height: 210px;
    object-fit: cover;
    
}


@media(max-width:500px){
    .detailsHolder{
        padding: 30px 15px;
    }
    .projectItem{
        flex-direction: column;
        gap: 15px;
    }
    .projectItem p{
        padding: 0px 10px;
    }
    .projectItem img{
        width: 100%;
        height: 250px;
        
    }
}