.main {
    min-height: 100vh;
    position: relative;
}

.detailsHolder {
    max-width: 650px;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.heroSection h1 {
    font-family: "Poppins";
    font-size: 28px;
    line-height: 1em;
}

.heroSection .SWEpara {
    color: #a545cd;
    font-weight: 500;
    font-size: 20px;
}

.profileImageContainer {
    position: relative;
    height: 200px;
    width: 200px;
}

.profileImageContainer:hover .profilePicBlurImage {
    filter: blur(20px);
    opacity: 0.5;
}

.profilePicBlurImage {
    position: absolute;
    z-index: 1;
    transition: all 0.3s;

}

.profilePic {
    position: absolute;
    z-index: 3;
}

.profilePic,
.profilePicBlurImage {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.socialsDiv {
    display: flex;
    gap: 5px;
    align-items: center;
}

.socialsDiv .socialsItem {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.socialsDiv .socialsItem:hover {
    background-color: #202020;
    border: 1px solid rgba(255, 255, 255, 0);
}

.socialsDiv .socialsItem img {
    height: 15px;
    width: 15px;
    object-fit: contain;
}

.socialsDiv .socialsItem p {
    font-size: 0px;
    color: white;
    line-height: 1.2em;
    overflow: hidden;
    transition: all 0.25s;
    opacity: 0;
}

.socialsDiv .socialsItem:hover {
    gap: 8px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 8px 14px;
}

.socialsDiv .socialsItem:hover p {
    font-size: 12px;
    opacity: 1;
}


.bio {
    margin: 25px 0px;
    font-size: 24px;
}

.bio p {
    opacity: 0.8;
}

.bio p span {
    font-size: 14px;
    color: #27f7e9;
    background-color: #016d66;
    padding: 3px 7px;
    padding-bottom: 5px;
    border-radius: 5px;
    line-height: 1em;
    opacity: 1;
}


.projectsSection {
    display: flex;
    flex-direction: column;
}

.projectsHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.projectItem {
    display: flex;
    gap: 20px;
    transition: all 0.3s;
    border-radius: 10px;
}


.projectItem img {
    border-radius: 10px;
    min-width: 240px;
    width: 240px;
    height: 150px;
    transition: all 0.2s;
    object-fit: cover;
    animation: unBlur linear 0.5s;
}


.projectItem:hover img {
    opacity: 0.7;
}

.showMore {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #101010;
    padding: 7px;
    border-radius: 7px;
    transition: all 0.1s;
}

.showMore svg {
    transition: all 0.2s;
}

.showMore:hover {
    background-color: #202025;
}

.showMore:hover svg {
    transform: rotate(90deg);
}

@keyframes unBlur {
    from {
        filter: blur(20px);
        transform: scale(1.1);
        opacity: 0;
    }

    to {
        filter: blur(0px);
        transform: scale(1);
    }
}



@media(max-width:500px) {
    .detailsHolder {
        padding: 30px 15px;
    }

    .projectItem {
        flex-direction: column;
        gap: 15px;
    }

    .projectItem p {
        padding: 0px 10px;
    }

    .projectItem img {
        width: 100%;
        height: 240px;
    }
}